---
name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**/*.js'
      - 'eslint.config.mjs'
      - 'package*.json'
      - '.github/workflows/lint.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'src/**/*.js'
      - 'eslint.config.mjs'
      - 'package*.json'
      - '.github/workflows/lint.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint project
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6.0.2

      - name: Install node 18
        uses: actions/setup-node@v6.2.0
        with:
          node-version: "18"
          cache: npm

      - name: Install project modules
        run: npm ci

      - name: Lint source files
        run: npm run lint
